* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgb(0, 249, 87);
  font-size: 3rem;
  font-family: monospace;
}
