@font-face {
  font-family: doted;
  src: url("./fonts/Ndot-55-DoenNkNm.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #f4fffc;
}

nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-right: 10px;
}

nav .brand {
  margin: 10px;
  width: 300px;
  border: 3px solid #f4fffc;
  padding: 7px;
  text-align: center;
  word-spacing: 2px;
}

nav .brand h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #f4fffc;
  font-family: doted;
  font-weight: 100;
}
