@font-face {
  font-family: sf-lgt;
  src: url("./fonts/sf-pro-text_regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sf-lgt;
}

html body {
  width: 100%;
  height: 100%;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(17, 16, 16);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav h4 {
  font-size: 12px;
  font-family: sf-lgt;
  font-weight: 100;
  word-spacing: 2px;
}
#hero {
  color: white;
  margin-top: 70px;
  height: 80vh;
  width: 100vw;
  text-align: center;
  padding: 30px;
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg");
  background-size: cover;
  background-position: center;
}
#hero h1 {
  font-size: 55px;
  font-weight: 700;
}
#hero h3 {
  padding: 10px;
  font-size: 30px;
  font-weight: 200;
}
#hero #btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
#hero #btns button {
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 200;
  border: none;
  border-radius: 50px;
  color: white;
}
#bg-blue {
  background-color: #0077ed;
}
#hero #btns  #b-blue {
  border: 2px solid #0687ff;
  color: #0687ff;
  background-color: transparent;
}
#hero #btns  #b-blue:hover{
   background-color: #0077ed;
   color: white;
}

#section2 {
  height: 80vh;
  color: rgb(37, 35, 35);
  width: 100vw;
  text-align: center;
  padding: 30px;
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg");
  background-size: cover;
  background-position: center;
}

#section2 h1 {
  padding-top: 20px;
  font-size: 55px;
  font-weight: 700;
}
#section2 h3 {
  font-size: 26px;
  font-weight: 200;
}
#section2 #btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
#section2 #btns button {
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 200;
  border: none;
  border-radius: 50px;
  color: white;
}
#bg-blue {
  background-color: #0077ed;
}

#section2 #btns  #b-blue {
  border: 2px solid #0687ff;
  color: #0687ff;
  background-color: transparent;
}
#section2 #btns  #b-blue:hover{
   background-color: #0077ed;
   color: white;
}

#section3{
  display: flex;
  gap: 10px;
  height: 80vh;
  width: 100vw;
  margin-top: 10px;
}

#section3 #card1 {
  flex: 1;
  color: rgb(37, 35, 35);
  text-align: center;
  padding: 30px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_large.jpg");
  background-size: cover;
  background-position: center;
}

#section3 #card1 h1 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
}
#section3 #card1 h3 {
  font-size: 20px;
  font-weight: 200;
}
#section3 #card1 #btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
#section3 #card1 #btns button {
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  border-radius: 50px;
  color: white;
}
#bg-blue {
  background-color: #0077ed;
}

#section3 #card1 #btns  #b-blue {
  border: 2px solid #0687ff;
  color: #0687ff;
  background-color: transparent;
}
#section3 #card1 #btns  #b-blue:hover{
   background-color: #0077ed;
   color: white;
}

#section3 #card2 {
  flex: 1;
  color: rgb(37, 35, 35);
  text-align: center;
  padding: 30px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large.jpg");
  background-size: cover;
  background-position: center;
}

#section3 #card2 h1 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
}
#section3 #card2 h3 {
  font-size: 20px;
  font-weight: 200;
}
#section3 #card2 #btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
#section3 #card2 #btns button {
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  border-radius: 50px;
  color: white;
}
#bg-blue {
  background-color: #0077ed;
}

#section3 #card2 #btns  #b-blue {
  border: 2px solid #0687ff;
  color: #0687ff;
  background-color: transparent;
}
#section3 #card2 #btns  #b-blue:hover{
   background-color: #0077ed;
   color: white;
}

