* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 50%;
  height: 80%;
  background-color: rgba(49, 46, 46, 0.542);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 200px;
  background-color: rgba(17, 14, 14, 0.467);
  padding: 30px;
  border-radius: 10px;
}

.outer {
  width: 100%;
  height: 10px;
  background: gray;
  border-radius: 50px;
}

.inner {
  width: 30%;
  height: 10px;
  background: crimson;
  border-radius: 50px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.bottom h2{
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow:0 4px 7px crimson;
}

button:active{
    scale: 0.95;
}