*{
    margin: 0;
     padding: 0;
     box-sizing: border-box;
    
}

html, body{
    width: 100%;
    height: 100%;
}

:root{
    --x:100px;
    --y:200px;
}

body{
    background-image: url(https://images.pexels.com/photos/20993696/pexels-photo-20993696.jpeg);
    background-size: cover;
    background-position: center;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(100px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.844));
}

