@font-face {
    font-family: f1;
    src: url('./fonts/NeueMachina-Light_gwWCZxVuQl.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 20px;
}



#main{
    width: 100%;
    height: 100%;
}

.cards{
    display: flex;
    gap: 20px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: f1;
    font-size: 40px;
}

.card {
  height: 500px;
  width: 400px;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bottom {
  padding: 5px;
  height: 40%;
  width: 100%;
  background: linear-gradient(transparent, black 90%);
  position: absolute;
  transition: all ease 1s;
}
.card:hover .bottom {
  bottom: 0;
  cursor: pointer;
}
.card .bottom h1{
    font-size: 35px;
    font-family: f1;
}
.card .icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card .icons h4{
    font-size: 30px;
}

.bottom h1 {
  text-align: center;
}
