@font-face {
  font-family: mono;
  src: url("./fonts/static/RobotoMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
}

@mixin card($bg-image) {
  width: 350px;
  height: 450px;
  border-radius: 15px;
  background-image: url(#{$bg-image});
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  padding: 20px;

  &:hover {
    transform: scale(1.05);
  }
}

main {
  width: 100%;
  height: 100%;

  nav {
    width: 100%;
    height: 70px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;

    .brand {
      font-size: 20px;
      font-family: mono;
      font-weight: normal;
    }

    .nav-items {
      display: flex;
      align-items: center;
      gap: 17px;
      padding-right: 10px;

      h4 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 15px;
        font-family: mono;
        background-color: #2a2a2a;
        padding: 12px 18px;
        border-radius: 10px;
        cursor: pointer;
      }

      button {
        padding: 12px 18px;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        font-family: mono;
        background-color: #ad9d49;
        font-weight: 700;
      }
    }

    .icon {
      display: none;
    }

    @media (max-width: 600px) {
      .nav-items {
        display: none;
      }

      .icon {
        display: flex;
        flex-direction: column;
      }
    }
    @media (max-width: 900px) {
      .nav-items {
        display: none;
      }

      .icon {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 18px;

    .left {
      width: 50%;
      height: 700px;
      overflow: hidden;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
    }

    .right {
      width: 50%;
      height: 700px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      color: white;
      background-color: #1e1e1e;
      border-radius: 10px;

      .tag {
        margin-left: 50px;
        margin-top: 80px;
      }

      .tag h1 {
        text-transform: uppercase;
        font-size: medium;
        text-align: left;
        font-family: mono;
        font-weight: normal;
        margin-bottom: 10px;
      }

      .text {
        padding: 30px 40px;

        h1 {
          text-transform: uppercase;
          max-width: 500px;
          font-size: 50px;
          line-height: 1.5;
          letter-spacing: 1px;
          font-family: mono;
          font-weight: 100;
          color: #f4f2ed;
        }

        p {
          color: #8b8a87;
          font-size: 20px;
          max-width: 500px;
          line-height: 1.5;
          font-family: mono;
        }

        button {
          font-size: 15px;
          text-transform: uppercase;
          color: white;
          background: none;
          border: none;
          margin-top: 20px;
          font-family: mono;
        }
      }
    }
    @media (max-width: 600px) {
      flex-direction: column;

      .left {
        height: auto;
        width: 100%;
      }

      .left img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .right {
        width: 100%;
        height: auto;
      }
    }
    @media (max-width: 900px) {
      flex-direction: column;

      .left {
        height: auto;
        width: 100%;
      }

      .left img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .right {
        width: 100%;
        height: auto;
      }
    }
  }

  .stats {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .stat1 h3 {
      text-transform: uppercase;
      font-family: mono;
      color: #999895;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1;
      text-align: center;
    }
    .stat1 h1 {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 60px;
      font-family: mono;
      font-weight: normal;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .team{
      padding: 10px 18px;

    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      text-transform: uppercase;

      h1{
        font-size: 40px;
        font-family: mono;
        font-weight: normal;
        letter-spacing: 2px;
      }
      button{
        background: none;
        border: none;
        font-size: 17px;
        color: white;
        text-transform: uppercase;
        font-family: mono;
      }
    }
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      .card1{
        background-image: url('https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp');
      }
      .card2{
        background-color: red;
      }
      .card3{
        background-color: red;
      }
    }
  }
}
