* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  background-color: rgb(18, 40, 65);
  color: white;
  padding: 70px;
  text-align: center;
}
header h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: oblique;
}

header p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  margin-top: 10px;
}

.about {
  width: 900px;
  margin: 40px auto;
  color: black;
  text-align: center;
  justify-content: center;
}
.about h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.about p {
  margin-top: 20px;
  font-size: 17px;
  color: rgb(16, 15, 15);
}

.education {
  width: 900px;
  height: auto;
  background-color: rgb(199, 230, 240);
  margin: 70px auto;
  padding: 50px 20px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.education h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

.education .sec{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.skills {
  width: 900px;
  height: auto;
  background-color: rgb(246, 207, 212);
  margin: 70px auto;
  padding: 50px 20px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.skills h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

.skills .skill{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.projects {
  width: 900px;
  height: auto;
  background-color: rgb(214, 208, 214);
  margin: 70px auto;
  padding: 50px 20px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.projects h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

.projects .project{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
  width: 900px;
  height: auto;
  background-color: rgb(199, 230, 240);
  margin: 70px auto;
  padding: 50px 20px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.contact h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

.contact h2{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 10px;
    font-weight: 100;
    font-size: large;
}

footer{
    text-align: center;
    justify-content: center;
    background-color: rgb(18, 40, 65);
    color: white;
    padding: 30px 10px;
    font-size: small;
    font-weight: 100;
}