*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
    
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#box{
  width: 344px;
  height: 444px;
  background-color: rgb(76, 36, 254);
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: rgb(177, 67, 27);
    margin-top: 10px;
    cursor: pointer;
}