@font-face {
  font-family: neu;
  src: url("./fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: neu;
}

html body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
}
nav #logo h1 {
  font-size: 25px;
  cursor: pointer;
}
nav #links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#links h4 {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.cta button {
  border: none;
  padding: 11px 25px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}
.cta .br-blue {
  border: 2px solid #0061fc;
  background-color: #fff;
  color: #0061fc;
}
.cta .bg-blue {
  background-color: #0061fc;
  color: white;
}

.hero {
  margin-top: 70px;
  background-color: #f6f7f9;
  padding: 20px 40px;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.section1 .right {
  width: 70%;
}
.section1 .right p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 22px;
  font-size: 15px;
  font-weight: 200;
  color: rgb(92, 92, 92);
}

.section1 .right .cta button {
  margin-top: 20px;
}

.section1 .right .cta .br-blue {
  margin-left: 7px;
}

.section2 {
  display: block;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  border-radius: 20px;
  padding-bottom: 40px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px 40px;
}
.stat {
  max-width: 200px;
  text-align: center;
}
.stats .stat h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

.stats .stat p {
  padding-top: 5px;
  letter-spacing: 1px;
  color: gray;
}

.girl {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #f6f7f9;
}
.girl .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  max-width: 500px;
  gap: 20px;
}

.girl .left button {
  padding: 12px 20px;
  text-transform: uppercase;
  border: 2px solid gray;
  border-radius: 50px;
  cursor: pointer;
}

.girl .left .text p {
  margin-top: 15px;
  text-justify: inter-word;
  text-align: justify;
  color: gray;
}

.girl .right {
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.girl .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

.expert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.expert .left button {
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.expert .left h1 {
  padding-top: 20px;
}

.expert .right p {
  padding-top: 20px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.photo {
  width: 280px;
  height: 400px;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
 
  overflow: hidden;
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.05);
}

.photo .text {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 15px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 99%;
}

.photo .text h1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.photo .text p {
  font-size: 0.95rem;
  opacity: 0.9;
}
